.panel-half {
	width: 50%;
	float:left;
}

.panel-full{
	width:100%;
	overflow:auto;
}

.panel-half form label {
	width:100%;
}

.panel-half form span {
	width:100%;
}

.panel-full label {
	width:100%;
}

.panel-full span {
	width:100%;
}

.panel-title {
	width:100%;
	font-size:24px;
}

#map{
	position:relative;
	width:100%;
	overflow:hidden;
}

#map img {
	max-width:100%;
}

.date-div {
	width:50%;
	margin-bottom:1%;
}