@media screen and (max-width: 700px) {

    .navbar-nav {
        width: 100%;
    }

    .btn-front-page-sign-register {
        width: 50%;
    }

    .float-jumbo {
        width: 100%;
    }

    .navbar-default .navbar-fixed-top {
        width: 100%;
    }

    .col-xs-9 {
        width: 100%;
        padding-right: 70%;
    }

    .col-xs-3{
        margin-left: 8%;


    }

    .row  {
        width: 150%;
    }

    .fa-5x {
    width: 50%
}

    .form-control {
        width: 250%;
        margin-bottom: -32%;
    }

    .car-panel-title {
        font-size: 55%;
        width: 100%;
        padding-bottom: 32%;
    }

    #map {
        display: none;
    }

    p{
        font-size: 47%;
    }

    .col-lg-12{
        margin-right:39%;

    }

    .panel-body {
        display: table-caption;
    }

   

    .description {
       width: 215%;
   }

    .title {
        width: 215%

    }

    .p1 {
        padding-right: 26.5%;

    }

    .btn-info{
        margin-left:83%;
        margin-top:-69%;

    }

    .rr {
        margin-left: 27%;
        margin-top: -57%;

    }

    .result-label{
        margin-left: -115%;

    }

    .filter-dropdown-left{
        margin-left: -88%;
        width: 100%;

    }

    #transmission-filter{
        width:200%;
        margin-right: -20%;
    }

    .filter-dropdown {
        width:145%;
        margin-left: -42%;
        padding: 5px;
    }

    .pagination{
        
        margin-left: -102%;
    }

    #carlist-accordion{
        width: 211%;
        margin-left: -101%;

    }

    #date-group{
        width: 662%;
        margin-left: -100%;

    }

}

#newsImage1, #newsImage2, #newsImage3 {
        padding-left: 27%;
        padding-top: 17%;
        vertical-align: middle;
    }


@media screen and (max-width: 500px) {

    .col-lg-8 {
        width: 55%;
    }

    d{
        font-size: 18px;
    }

    #newsImage1, #newsImage2, #newsImage3 {
       width: 193%;
    }

}

@media screen and (max-width: 1100px) {

    .col-xs-9 {
        margin-left:24%;

    }







}






@media screen and (max-width: 400px) {

   .row  {
        width: 300%;
    }

   .col-xs-9{
       margin-left: 0%;

   }

   .col-lg-12 {
       margin-right:62%;

   }

   .col-lg-8{
       width:38%;


   }

   #aa {
       font-size:25px;

   }

}

@media screen and (max-width: 970px){

   
    

}