@media screen and (max-width: 700px) {

    .navbar-nav {
        width: 100%;
    }

    .btn-front-page-sign-register {
        width: 50%;
    }

    .float-jumbo {
        width: 100%;
    }

    .navbar-default .navbar-fixed-top {
        width: 100%;
    }

    .menu{
        width:100%;
        margin:0 0;

    }

    .fa-5x {
    width: 50%
	}
    
    .car-panel-title {
        font-size: 60%;
        width: 100%;
        padding-bottom: 13%;
    }

    #map {
        display: none;
    }

    p{
        font-size: 47%;
    }

    .p1 {
        padding-right: 26.5%;
    }

  

    .list{
        width:100%;
    }

	#newsImage1, #newsImage2, #newsImage3 {
		padding-left:0;
		padding-top:0;

	}

	.middle {
		width:100%;
	}

	.filter-dropdown-left, .filter-dropdown-right {
		float: left;
		margin-bottom: 10px;
	}

	.dropdown-menu-right {
		width:100%;
		right:inherit;
	}

	#transmission-filter {
		float:left;
	}

	.btn-filter-sortby {
		width:100%;
	}

	.filter-dropdown-big {
		width:100%;
	}

	.filter-dropdown {
		width:100%;
		margin-bottom:10px;
	}

	.date-item {
		width:100%;
	}
	#brand-filter, #seat-filter, #type-filter, .filter-dropdown-menu {
		width:100%;
	}
}

@media screen and (max-width: 500px) {

    #pagewrap{
        width:100%;
    }

    d{
        font-size: 18px;
    }

    .services-section{
        min-height:100%;
        height:130%;
    }

}

@media screen and (max-width: 1100px) {

    .col-xs-9 {
        margin-left:24%;

    }







}



@media screen and (max-width: 700px) {
    .RadioButtonList1 {
        margin-left: 2%;
    }
}



@media screen and (max-width: 400px) {

  
   

  

   #aa {
       font-size:25px;

   }

}
