@media screen and (max-width: 700px) {

    .navbar-nav {
        width: 100%;
    }

    .btn-front-page-sign-register {
        width: 50%;
    }

    .float-jumbo {
        width: 100%;
    }

    .navbar-default .navbar-fixed-top {
        width: 100%;
    }

    .col-xs-9 {
        width: 100%;
        padding-right: 70%;
    }

    .col-xs-3{
        margin-left: 8%;


    }

    .row  {
        width: 500%;
    }

    .fa-5x {
    width: 50%
}

    .form-control {
        width: 250%;
        margin-bottom: -32%;
    }

    .car-panel-title {
        font-size: 38%;
        width: 100%;
        padding-bottom: 32%;
    }

    #map {
        display: none;
    }

    p{
        font-size: 47%;
    }

    .col-lg-12{
        margin-right:39%;

    }

    .panel-body {
        display: table-caption;
    }

   

    .description {
       width: 215%;
   }

    .title {
        width: 215%

    }

    .p1 {
        padding-right: 26.5%;

    }
}

#newsImage1, #newsImage2, #newsImage3 {
        padding-left: 27%;
        padding-top: 17%;
        vertical-align: middle;
    }


@media screen and (max-width: 500px) {

    .col-lg-8 {
        width: 38%;
    }



}

@media screen and (max-width: 300px) {

   .row  {
        width: 300%;
    }



}