.btn-front-page-sign-register {
  font-size: 18px;
  width: 20%;
}

.float-jumbo {
  position:absolute;
  z-index:+1;
  left:0;
  right:0;
  margin:150px auto;

  width:60%;
}

#map {
  background: #fff;
  font-size: 20px;
  float: left;
  height: 400px;
  width: 50%;
}

.list {
  background: #fff;
  font-size: 20px;
  float:right;
  margin-left:5%;
  width: 40%;
  height: 100%;
}

.carPanel {
  display:flex;
}

.container-full-width {
  height:100%;
  padding-left:0px;
  padding-right:0px;
  margin-left:auto;
  margin-right:auto;
}

.jumbotron {
  background: rgb(200, 200, 200); /* This is for ie8 and below */
  background: rgba(200, 200, 200, 0.9);
}

.intro-section {
  height:100%;
  padding-top:40px;
  padding-bottom:100px;
  text-align:center;
  background:#fff;
}

.limit {
  /* Set depend on img height */
  height:449px;
}

.img-test{
  width:100%;
  height:100%;
}


.carousel-limit {
  height:100%;
}

#thumb {
  width:100%;
  max-width:1920px;
  min-width:1920px;
  height:100%;
  background:no-repeat;
  display:block;
  margin:0 auto;
}


.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.navbar-logo {
  padding:5px 15px;
}